.bandera, .bandera p {
  display: inline;
  margin: 10px 10px;
  padding: 10px 10px;

}
.amarillo{
  background-color: yellow;
  color: black;

}
.gris{
  background-color: gray;
  color: white;
}
#Texto-mayusculas{
  text-transform:uppercase;
}
